@charset "utf-8";
/* CSS Document */
.cloud_menu{width:310px !important;height:60px;float:right;text-align:center;}
.cloud_menu a{margin-left:-15px}
.myCloudbox{diplay:inline-block;}
#headruku{margin-left:-30px;}
/*头部错误提示*/
#errorHint{margin:0;padding:0;display:none;}
#errorHint{float:right;width:30px;height:60px;min-width:20px;margin-top:-60px;margin-right:-18px; text-align:center;}
#errorHint a{display:inline-block;width:19px;height:30px; background:url(../img/dataLoader/errorHint1.png) no-repeat;margin-top:22px;margin-left:4px;}
#errorHint ul{position:absolute;right:0;top:60px;display:none;background:#102842;width:180px; margin-left:-150px; z-index:5;}
#errorHint ul li{height:40px;width:100%;background:#041629;font-size:14px; cursor:pointer; line-height:40px;}
#errorHint ul li a{}
#errorHint:hover ul{display:block;}

/* 入库记录*/                                                      /*     border:1px solid #333;    */
#recordDiv{width:100%;height:100%;margin:0; padding:0; background-color:#f8f8f8;}
a{ text-decoration:none;}
#bbody{ width:1072px;height:100%; background-color:#FFF; margin:0px auto;}

#btitle.ui-widget-content{border:none;background:#f8f8f8;}
#btitle{height:37px;background:#f8f8f8;z-index:3;}
#btitle a{font-family:"微软雅黑"; line-height:30px;cursor:pointer;padding-top:5px;display:inline-block;margin-left:-3px;margin-top:-2px;height:37px;width:96px;color:#333;font-size:16px;background-color:#f8f8f8;border:none; text-align:center;}

#ruDiv{background-color:#fff;}
#wcDiv{ display:none;}
.content{width:1072px;height:100%; background-color:#fff;}
.tlist{width:1030px;margin:20px auto;text-align:center;
       border-collapse:separate;}/*cellpadding属性用来指定单元格内容与单元格边界之间的空白距离的大小*/
.tlist tr td{border:1px solid #dce4eb; font-family:"宋体";font-size:12px; color:#333;
             border-collapse:separate;}/*border-collapse: separate; 表格相邻边框重合*/
thead tr{height:35px;background-color:#f6f6f6;}
tbody tr{height:35px;}
tbody tr td{word-wrap: break-word;word-break:break-all;}
.htd1{ width:65px;} .htd2{ width:140px;}.htd3{width:300px;}.htd4{width:75px;}.htd5{width:90px;}.htd6{width:135px;}
.htd_1{ width:80px;} .htd_2{ width:140px;}.htd_3{width:300px;}.htd_4{width:130px;}.htd_5{width:170px;}.htd_6{width:135px;}

.cxrk{display:inline-block;width:60px; height:24px; background-color:#3399ff;border-radius:3px; line-height:24px;cursor:pointer;color:#fff;}/*border-radius: 3px;设置圆角矩形*/
.delete{display:inline-block;width:40px; height:24px;background-color:#ff7e6f;border-radius:3px;line-height:24px;margin-left:3px; color:#fff;}
.wccz{ text-align:center;}
.cxrk1{display:inline-block; width:17px; height:17px; background:url(../../push/img/buttom_03_1.png) no-repeat -155px -15px;}
.download{display:inline-block;width:17px;height:17px;background:url(../../push/img/buttom_03_1.png) no-repeat -198px -16px;;margin-left:15px;}
.tbbody tr:hover,.tbbody tr.hilite{background-color:#f7faff; height:50px;}
/*入库记录对话框*/
#recordbg{ display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.7; opacity:.70; filter: alpha(opacity=70);}
#recordshow{display: none; text-align:center; position: absolute; top: 35%; left: 32%; width: 33%; height: 29%; padding: 8px; border: 8px solid #E8E9F7; background-color: white; z-index:1002; overflow: auto;}
.sh3{ margin-top:50px;}
.pbutton{ margin-top:30px;}
.yesbt{display:inline-block; width:170px; height:40px; margin-right:60px; background-color:#169bd5;border-radius: 3px;border: solid 1px #169bd5;hidefocus="hidefocus"}/*border: solid 1px #000;hidefocus="hidefocus"去掉按钮的默认效果*/
.nobt{display:inline-block; width:170px; height:40px;border-radius: 3px;border: solid 1px #ccc;}