body,html{font-size:16px;height:100%;font-family:"Microsoft YaHei", Helvetica, Tahoma,sans-serif;}
.ovcl{clear:both;overflow:hidden}
/* 公共头部 */
.dataloaer{width:auto;height:60px;line-height:60px;display:inline-block;float:left;font-size:20px;color:#fff;font-weight:bold;}
#header{width:100%;min-width:1200px;height:60px;background:#102942;/* box-sizing:border-box;-moz-box-sizing:border-box; Firefox
-webkit-box-sizing:border-box; Safari; */}
#logo{width:162px;height:60px;background:url(../img/cloudBox_logo.jpg) no-repeat 10px center;float:left;}
#logo h1{margin-left:80px;color:#c6e3ff;font-size:25px;height:60px;line-height:60px;}
.cloud_menu{height:60px;float:right;text-align:right;}
.cloud_menu a{text-align:center;text-decoration:none;color:#a6bcd1;font-family:"微软雅黑";font-size:16px;height:60px;line-height:60px;display:inline-block;cursor:pointer;}
.cloud_menu li{min-width:100px;float:left;width:92px;margin-right:18px;height:60px;line-height:60px;position:relative;}
.cloud_menu #errorHint{width:40px;background:url(../img/error.png) no-repeat center center;}
.cloud_menu #loginOut{min-width:24px;width:24px;background:url(../img/powerOff.png) no-repeat center center;margin:0}
.cloud_menu li a{display:block;text-decoration:none;width:100%;height:60px;font-size:16px;color:#8899aa;}
.cloud_menu li ul{position:absolute;left:0;top:60px;display:none;background:#102842;width:120px;z-index:6;}
.contWarp{width:1200px;margin:0 auto;}
.cloud_menu li ul li{height:50px;line-height:50px;width:100%}
.cloud_menu li ul li a{color:#e9e9e9;}
.cloud_menu li:hover{background:#05162a;color:#e9e9e9;}
.cloud_menu li:hover ul{display:block;} 
/******头部 错误提示样式*******/
#errorHint ul{text-align: center;position:absolute;right:0;top:60px;display:none;background:#102842;width:190px; margin-left:-150px; z-index:5;}
#errorHint ul li{height:40px;width:100%;background:#041629;font-size:14px; cursor:pointer; line-height:40px;margin:0}
#errorHint:hover{background:#05162a url(../img/error.png) no-repeat center center;;color:#e9e9e9;}
#errorHint:hover ul{display:block;}

.bp-reset-element,body,h1,h2,h3,h4,h5,h6,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,blockquote,q,th,td,caption,table,div,span,object,iframe,p,pre,a,abbr,acronym,address,code,del,dfn,em,img,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family:"Microsoft YaHei", Helvetica, Tahoma,sans-serif;
	vertical-align: baseline;
}
.clearfix {
	*zoom: 1:;
}
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0px;
	font-size: 0px;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}
th, td, caption {
    float: none !important;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
button, input, select, textarea {
    font-size: 100%;
    border-radius: 0;
    vertical-align: middle;
}
input[type='radio'], input[type='checkbox'] {
    margin: 0px 5px 0px 0;
}
body input.text, body input.title, body input[type=email], body input[type=text], body input[type=password] {
    font-size: 1em;
    line-height: normal;
    height: 24px;
}
body input.text, body input.title, body input[type=email], body input[type=text], body input[type=password], body textarea, body .select {
    background-color: #fff;
    border: 1px solid #dce4eb;
}
li {
  list-style-type:none;
}
a {
    color: #333;
    text-decoration: none;
	border-bottom-style: none;
}
table{
    border-collapse: collapse;
	width: 100%;
}
table th{
    height:25px;
    text-align:center;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	
}
table  tbody tr{
   margin: 0px 2px 0px ;
}
table td{
	text-align:center;
	white-space:normal;
	word-break:break-all; 
	word-wrap:break-word;
}
/* new add commons css code 2015-06-30
author:lwc
 */
.hd{display:none;}
.fullline{width:100%; height:1px; background-color:#dce4eb;}
.margin50_0{margin:50px 0;}
.margin50_0_0_0{margin:50px 0 0 0;}
.margin30_0{margin:30px 0;}
.margin60_0{margin:60px 0;}
.commonsBtn{border:1px solid #dce4eb;}
button.active{border:1px solid #3399ff; color:#3399ff !important;}
.padding8{padding:8px;}
.padding2{padding:2px;}
.borderNone{border:none;}
.margin0_0_17_0{margin:0 0 17px 0;}
.margin0_0_7_0{margin-bottom:7px;}
.borderRadius{border-radius:5px;}
.margin0_20_0_0{margin-right:20px;}
/* new add css code area 2015-06-30
author:lwc
 */
.select-wrap{position:relative; width:100%; height:32px; left:-13px;}
.select_wrap_commons{position:absolute; width:95px; height:29px; top:20px; max-width:95px; border:1px solid #dce4eb; font-size:14px; color:#9aabb8; line-height:29px;}
.select_wrap_son_commons{position:absolute; border:1px solid #dce4eb; overflow-y:auto; left:-1px; top:29px; width:96px; max-width:96px; background-color:#fff; z-index:2; height:128px; text-align:center;}
.select_wrap_province{left:0;}
.select_wrap_city{left:110px;}
.select_wrap_town{left:220px;}
#government_list{width:350px; height:100%;}
.result-item{text-align:left; padding:0 0 0 10px;}
.please-select{position:absolute; display:inline-block !important; right:8px; top:13px; width:11px; height:11px; background:url(../../home/img/csssprite.png) no-repeat -35px -147px;}
/* 请稍等样式 */
#BgDiv{background-color:#e3e3e3; position:absolute; z-index:20000; left:0; top:0; display:none; width:100%; height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}
#waiting{position:absolute;width:0px; left:60%; top:45%; margin-left:-200px; height:0px; z-index:2002;background-color:#fff; border:0px #8FA4F5 solid; padding:1px;}